@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.banner-head-01{
    font-family: "Hi Melody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.7vw;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 100px;
}

.banner-head-02{
    font-family: "Ranchers", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 200px;
}


.banner-head-img-01{
    width: 42%;
    position: absolute;
    z-index: 12;
    top:40%;
    transform: scaleX(-1);
    left: 0%;
}

.banner-head-img-02{
    width: 42%;
    position: absolute;
    z-index: 12;
    top: 40%;
    left: 60%;
}

.banner-head-img-03{
    width: 42%;
    position: absolute;
    z-index: -4;
    top: 20%;
    left: 30%;
}

.banner-desc{
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 25px;
    font-size: 1.3em;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.banner{
    width: fit-content;
    background-color: rgba(250, 240, 230, 0.6);
    padding: 2%;

}

